<!DOCTYPE html>
<html>
<head>
  <title>Vngrs</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main">
    <header>
      <%= render :partial => 'shared/header' %>
    </header>
    <div class="main_content">
      <%= yield %>
    </div>
    <footer>
      <%= render :partial => 'shared/footer' %>
    </footer>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
